/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* Styles for "index.html" */

/* Import custom fonts */
@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/helveticaneue.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  --black: "#000000";
  --white: "#FFFFFF";
  --green: "# ";
  --grey: "#353535";

  --helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Global Styles */
/* Visually Hidden */
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--helvetica);
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  line-height: normal;
  color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #353535;
  letter-spacing: 1px;
}

/* Header Styles */
header {
  overflow: hidden;
  background: #353535;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

h3 {
  font-weight: bold;
  font-size: 2em;
}

p {
  font-size: 1.3em;
  font-weight: 250;
  line-height: 1.5em;
}

.header__logo {
  display: inline-block;
  width: 12rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__logo svg:hover {
  fill: #a3c460;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header a,
header label {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header a:hover,
header label:hover {
  color: #a3c460;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header label {
  float: right;
  padding: 20px 20px;
  cursor: pointer;
}

header label:after {
  content: "\2261";
  font-size: 1.8em;
}

.logo {
  float: left;
  font-size: 1.5em;
}

nav {
  float: right;
  max-height: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

nav li {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 0.8em;
}

nav a {
  padding: 10px;
  width: 100%;
}

#nav {
  display: none;
}

#nav:checked ~ nav {
  max-height: 200px;
}

@media only screen and (min-width: 700px) {
  header label {
    display: none;
  }

  nav {
    width: auto;
    max-height: none;
  }

  nav ul {
    padding: 0;
    padding-right: 10px;
  }

  nav li {
    display: inline-block;
    text-align: left;
  }

  header nav a {
    display: inline-block;
    padding: 20px 10px;
    width: auto;
  }
}
li {
  display: table-cell;
  position: relative;
  padding-top: 5px;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}
li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #a3c460;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 20px;
  }
}

/* Promo Section */
#videowrapper {
  position: relative;
  overflow: hidden;
}

#fullScreenDiv {
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: gray;
  position: relative;
}

#video {
  width: 100vw;
  height: auto;
  margin: auto;
  display: block;
}
@media (min-aspect-ratio: 16/9) {
  #video {
    width: 100vw;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    height: 100vh;
    width: auto;
    margin-left: 50vw;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

#videoMessage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2;
}

#videoMessage h3 {
  font-size: 2.8em;
  text-align: center;
  line-height: normal;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
}
#videoMessage p {
  text-align: center;
  line-height: normal;
  padding-left: 20px;
  padding-right: 20px;
}
#videoMessage a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #a3c460;
  margin-top: 30px;
  padding: 24px;
}

@media (min-width: 768px) {
  #videoMessage a {
    background-color: #ffffff00;
    border: 2px solid #a3c460;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #videoMessage a:hover {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #a3c460;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -o-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.7) 50%
  );
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.7) 50%
  );
  background-size: 3px 3px;
  z-index: 0;
}

/* Partners Section */
.retailers {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.retailers__item {
  padding: 1em 1em;
  width: 10em;
}

.partners__retailers {
  background: #e9e9e9;
}

.partners__retailers h3 {
  /* font-size: 2em; */
  color: #1a1a1b;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .retailers__item {
    padding: 1em 1em;
    width: 10em;
  }
  .partners__retailers h3 {
  }
}

/* Clients */
.clients__headline {
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.clients__wrapper p {
  text-align: center;
  margin: 0;
  padding: 0 20px;
}

.partners__clients {
  background: #353535;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 40px;
}
.partners__clients::before,
.partners__clients::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.partners__clients::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}
.partners__clients::before {
  left: 0;
  top: 0;
}
.partners__clients .clients {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}
.partners__clients .clients__item {
  height: 100px;
  width: 250px;
}

/* Footer */
/* Footer-Map */
.footer__map {
  background-image: url(https://weareready-consultancy.oss-cn-shanghai.aliyuncs.com/wrr-lite/map.png);
  background-size: cover;
}

/* Footer-licence */
.footer__licence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 30px;
  font-size: 0.6em;
}
.footer__licence a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer__licence a:hover {
  color: #a3c460;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.page-footer__contacts--other {
  background-color: #222222;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 236px;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    width: 708px;
    min-height: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 61px;
  }
}
@media (min-width: 1440px) {
  .page-footer__wrapper {
    padding-top: 60px;
    padding-bottom: 58px;
    width: 1220px;
  }
}
.page-footer__contacts {
  position: relative;
}
.contacts__wrapper {
  width: 100%;
  min-height: 114px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__wrapper a {
  text-align: center;
  margin: 10px;
  line-height: normal;
}
.contacts__wrapper a {
  background: #95c83d83;
  color: rgba(255, 255, 255, 0.637);
  padding: 1rem 1rem;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .contacts__wrapper a {
    background: #94c83d;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-left: 25px;
  }
}

.contacts__wrapper a:hover {
  background: #94c83d;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .contacts__wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 625px;
    min-height: 200px;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
    bottom: 133px;
    left: 61px;
    width: 570px;
    height: 201px;
    z-index: 2;
    background-color: #353535;
  }
}

.contacts__offer {
  line-height: 18px;
  padding: 0;
  margin: 0;
  width: 140px;
}
@media (min-width: 768px) {
  .contacts__offer {
    line-height: 25px;
    width: 171px;
    min-height: 83px;
    padding-top: 10px;
  }
}
@media (min-width: 1440px) {
  .contacts__offer {
    padding-left: 75px;
  }
}

.contacts__address {
  font-size: 1em;
  line-height: 1.5em;
  color: #ffffff;
  margin: 0;
  width: 350px;
  padding: 20px;
}
.contacts__address br {
  display: none;
}
@media (min-width: 768px) {
  .contacts__address {
    width: 259px;
    min-height: 80px;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contacts__address br {
    display: block;
  }
}
@media (min-width: 1440px) {
  .contacts__address {
    text-align: left;
    width: 250px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/*  */

/* Program section */
.programs {
  margin: 20px;
  padding-top: 20px;
}

.programs__headline {
  -webkit-text-decoration: underline #a3c460;
  text-decoration: underline #a3c460;
  margin: 20px;
  text-align: center;
}

.programs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.program-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.program-wrapper img {
  margin: auto;
  width: 12vh;
}

.program-wrapper h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.programs-list__item {
  background-color: #1a1a1b;
  margin: 20px auto;
  padding: 30px;
  width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.programs-list__item a {
  margin-top: auto;
  color: #a3c460;
  padding-top: 20px;
}

/* Services section */

.services {
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .services {
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .services {
    border: none;
  }
}

.services__wrap {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .services__wrap {
    margin-bottom: 47px;
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .services__wrap {
    margin-bottom: 0;
    width: 1220px;
  }
}

.services__headline {
  display: block;
  text-transform: none;
  line-height: 40px;
  margin-top: 27px;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .services__headline {
    line-height: 60px;
    margin-top: 43px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .services__headline {
    margin-top: 71px;
  }
}

.services__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .services__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .services__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.services__item {
  margin-bottom: 20px;
  min-height: 60px;
  position: relative;
}

.services__item p {
  line-height: normal;
}

.services__item:last-child {
  margin-bottom: 0;
}
.services__item::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #94c83d;
}
.services__item--healthy::before {
  background-image: url("./images/marketing.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services__item--form::before {
  background-image: url("./images/products.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services__item--eat::before {
  background-image: url("./images/growth.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services__item--time::before {
  background-image: url("./images/transparency.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 2dppx) {
  .services__item--healthy::before {
    background-image: url("./images/marketing.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    background-size: cover;
  }
  .services__item--form::before {
    background-image: url("./images/products.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    background-size: cover;
  }
  .services__item--eat::before {
    background-image: url("./images/growth.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    background-size: cover;
  }
  .services__item--time::before {
    background-image: url("./images/transparency.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  .services__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    min-height: 280px;
    width: 249px;
    margin: 0;
    margin-bottom: 37px;
  }
  .services__item--healthy {
    width: 230px;
  }
  .services__item--time {
    margin-bottom: 0;
    margin-left: 30px;
  }
  .services__item--eat {
    margin-bottom: 0;
  }
  .services__item--form {
    margin-left: 30px;
  }
  .services__item::before {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 1440px) {
  .services__item {
    margin: 0;
  }
  .services__item--healthy {
    margin-right: 20px;
  }
  .services__item--form {
    width: 246px;
  }
}

.services__text {
  font-weight: bolder;
  font-size: 1.5em;
  line-height: 18px;
  text-transform: none;
  color: #ffffff;
  padding-left: 80px;
  margin: 0;
}
@media (max-width: 767px) {
  .services__text br {
    display: none;
  }
}
@media (min-width: 768px) {
  .services__text {
    line-height: 24px;
    padding-left: 0;
    padding-top: 151px;
  }
}

.services__item-num {
  display: none;
}
@media (min-width: 768px) {
  .services__item-num {
    display: block;
    position: absolute;
    z-index: -20;
    font-size: 13em;
    line-height: 280px;
    color: #222222;
    right: 0;
  }
}

/* Section Example */
.example {
  margin: 0 auto;
  background-color: #222222;
}
@media (min-width: 768px) {
  .example {
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .example {
    background-color: #222222;
    margin-top: 206px;
  }
}

@media (min-width: 1440px) {
  .example__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1220px;
    margin: 0 auto;
  }
}

.example__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__wrapper {
    width: 708px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 436px;
    padding: 0;
    margin-right: 134px;
    margin-bottom: -136px;
    position: relative;
    top: -136px;
  }
}

.example__headline {
  text-transform: none;
  line-height: 40px;
  margin-top: 27px;
  -webkit-text-decoration: underline #94c83d;
  text-decoration: underline #94c83d;
}
@media (min-width: 768px) {
  .example__headline {
    line-height: 60px;
    margin-top: 43px;
  }
}
@media (min-width: 1440px) {
  .example__headline {
    margin: 0;
    margin-bottom: 50px;
    margin-top: 200px;
  }
}

.example__text {
  line-height: 1.5em;
  text-transform: none;
  color: #ffffff;
  margin-bottom: 25px;
  margin-top: 33px;
  width: 279px;
}
@media (min-width: 768px) {
  .example__text {
    line-height: 24px;
    margin-top: 63px;
    margin-bottom: 54px;
    width: auto;
  }
}
@media (min-width: 1440px) {
  .example__text {
    width: 436px;
    margin: 0;
    margin-bottom: 69px;
  }
}

.example__statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 280px;
  margin: 0;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .example__statistic {
    width: 366px;
    margin-bottom: 59px;
  }
}
@media (min-width: 1440px) {
  .example__statistic {
    margin-bottom: 60px;
  }
}

.example__costs {
  line-height: 20px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__costs {
    line-height: 20px;
    width: 174px;
    text-align: right;
    margin: 0;
    padding-top: 10px;
  }
  .example__costs span {
    display: block;
    margin-bottom: 9px;
  }
}
@media (min-width: 1440px) {
  .example__costs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 327px;
    min-height: 0;
    padding: 0;
  }
}

.example__slider img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.example__slider {
  margin: 0 auto;
  margin-top: 28px;
}

@media (min-width: 1440px) {
  .example__slider {
    margin: 0;
    margin-top: -200px;
  }

  .slider__item img {
    width: 500px;
    height: auto;
  }
}

.slider__item {
  margin-bottom: 20px;
}

.map {
  height: 400px;
  width: 100%;
}

.ol-control {
  display: none;
}

.about {
  margin: 0;
  padding: 0;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://weareready-consultancy.oss-cn-shanghai.aliyuncs.com/wrr-lite/chuttersnap-china.jpg")
      no-repeat fixed;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.6)),
      to(rgba(0, 0, 0, 0.6))
    ),
    url("https://weareready-consultancy.oss-cn-shanghai.aliyuncs.com/wrr-lite/chuttersnap-china.jpg")
      no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://weareready-consultancy.oss-cn-shanghai.aliyuncs.com/wrr-lite/chuttersnap-china.jpg")
      no-repeat fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-position: center;
}

.about-info {
  margin: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 40px;
}

.about-info h3 {
  color: #fff;
  -webkit-text-decoration: underline #a3c460;
  text-decoration: underline #a3c460;
  margin-right: 30px;
}

.about-info p {
  margin-top: 10px;
  width: 100%;
}

.about a {
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 20px;
  margin: 40px;
  border: 2px solid #a3c460;
  color: #1a1a1b;
  background: #a3c460;
}
@media (min-width: 768px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-info h3 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .about-info {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-info p {
    width: 711px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .about a {
    padding: 20px;
    color: #1a1a1b;
    background: #a3c460;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-left: 200px;
  }

  .about-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: inherit;
    flex-wrap: inherit;
    margin: 0;
  }

  .about-info h3 {
    margin-left: 0;
    padding-top: 40px;
  }

  .about-info p {
    padding: 0;
    margin: 0;
    text-align: left;
    width: 400px;
  }

  .about a {
    background-color: transparent;
    color: #fff;
    width: 300px;
    margin-top: 40px;
    padding: 20px;
    border: 2px solid #a3c460;
    background: transparent;
    margin-left: 0;
  }
  .about a:hover {
    text-decoration: none;
    color: #1a1a1b;
    background: #a3c460;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
}

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

/* Intro section */
.divider {
  color: #f2f2f2;
  margin: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 30px;
}

.divider img {
  display: none;
  width: 50vw;
}

.divider span {
  color: #94c83d;
}

.divider__content {
  font-size: 2em;
}

@media (min-width: 768px) {
  .divider {
    margin: 0;
  }

  .divider__image {
    width: 50vw;
    -webkit-box-shadow: inset -224px 0 103px #353535;
    box-shadow: inset -224px 0 103px #353535;
    background-position: left;
  }

  .divider__image img {
    display: block;
    position: relative;
    z-index: -2;
    right: 150px;
    background-size: cover;
  }

  .divider__content {
    font-size: 1.1em;
    margin: auto;
    padding-right: 140px;
  }
}

@media (min-width: 1440px) {
  .divider__image {
    width: 50vw;
    -webkit-box-shadow: inset -375px 0 103px #353535;
    box-shadow: inset -375px 0 103px #353535;
    background-position: left;
  }
  .divider__content {
    padding-right: 300px;
    margin: auto;
    font-size: 1.8em;
  }
}

.intro {
  text-align: center;
}

.intro-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -webkit-column-gap: 2.5em;
  -moz-column-gap: 2.5em;
  column-gap: 2.5em;
}

.intro-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 300px;
}

@media (min-width: 768px) {
  .intro-list__item {
    width: auto;
  }
}

@media (min-width: 1440px) {
  .intro-list {
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
  }
  .intro-list__item {
    padding: 20px 20px;
    color: #f2f2f2;
    background-color: #333;
  }
  .intro-list__item h3 {
    margin: 30px;
  }

  .intro-list__item a:hover {
    color: #222222;
    background-color: #94c83d;
  }
}

.intro-list__item h3 {
  margin: 10px;
  padding: 0;
}

.intro-list__item a {
  color: #a3c460;
  border: 1px solid #fff;
  padding: 10px;
}

.intro-list__item img {
  margin: auto;
  width: 70px;
  margin-top: 30px;
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
  .intro-list__item img {
    width: 100px;
    margin: 0 auto;
  }
  .intro-list__item h3 {
    margin-top: 30px;
  }
}

/* Background animation */
.hero {
  background-color: #1a1a1b;
  position: relative;
  height: 180vh;
  overflow: hidden;
}

.hero p {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .hero {
    height: 100vw;
  }
}

@media (min-width: 1220px) {
  .hero {
    height: 65vw;
  }
}

.hero__title {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #68b738;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -ms-transform: scale(0) rotate(0deg) translate(-50%, -50%);
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  -webkit-animation: cube 12s ease-in forwards infinite;
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #94c83d;
}
.cube:nth-child(2) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}

@-webkit-keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube {
  from {
    -webkit-transform: scale(0) rotate(0deg) translate(-50%, -50%);
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(20) rotate(960deg) translate(-50%, -50%);
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.customer-logos {
  background-color: #353535;
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: auto;
  -ms-touch-action: auto;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
