*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Styles for "index.html" */

/* Import custom fonts */
@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/helveticaneue.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  --black: "#000000";
  --white: "#FFFFFF";
  --green: "#A3C460";
  --grey: "#353535";

  --helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Global Styles */
/* Visually Hidden */
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--helvetica);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #fff;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #353535;
}

/* Header Styles */
header {
  overflow: hidden;
  background: #353535;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header__logo {
  display: inline-block;
  width: 12rem;
  transition: 0.3s;
}

.header__logo svg:hover {
  fill: #a3c460;
  transition: 0.3s;
}

header a,
header label {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
  transition: 0.3s;
}

header a:hover,
header label:hover {
  color: #a3c460;
  transition: 0.3s;
}

header label {
  float: right;
  padding: 20px 20px;
  cursor: pointer;
}

header label:after {
  content: "\2261";
  font-size: 1.8em;
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
}

nav {
  float: right;
  max-height: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

nav li {
  display: block;
  text-align: center;
}

nav a {
  padding: 10px;
  width: 100%;
}

#nav {
  display: none;
}

#nav:checked ~ nav {
  max-height: 200px;
}

@media only screen and (min-width: 700px) {
  header label {
    display: none;
  }

  nav {
    width: auto;
    max-height: none;
  }

  nav ul {
    padding: 0;
    padding-right: 10px;
  }

  nav li {
    display: inline-block;
    text-align: left;
  }

  header nav a {
    display: inline-block;
    padding: 20px 10px;
    width: auto;
  }
}
li {
  display: table-cell;
  position: relative;
  padding-top: 5px;
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}
li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #a3c460;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
li a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 20px;
  }
}

/* Promo Section */
#videowrapper {
  position: relative;
  overflow: hidden;
}

#fullScreenDiv {
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: gray;
  position: relative;
}

#video {
  width: 100vw;
  height: auto;
  margin: auto;
  display: block;
}
@media (min-aspect-ratio: 16/9) {
  #video {
    width: 100vw;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    height: 100vh;
    width: auto;
    margin-left: 50vw;
    transform: translate(-50%);
  }
}

#videoMessage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

#videoMessage h3 {
  font-size: 7vh;
  font-weight: bolder;
  text-align: center;
  line-height: normal;
  padding-left: 20px;
  padding-right: 20px;
}
#videoMessage p {
  font-weight: normal;
  font-size: 4vh;
  text-align: center;
  line-height: normal;
  padding-left: 20px;
  padding-right: 20px;
}
#videoMessage a {
  border: 2px solid #a3c460;
  padding: 24px;
  margin-top: 30px;
  transition: 0.3s;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.7) 50%
  );
  background-size: 3px 3px;
  z-index: 0;
}

#videoMessage a:hover {
  transition: 0.3s;
  background-color: #a3c460;
}

/* Partners Section */
.retailers {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #e9e9e9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.retailers__item {
  padding: 1em 1em;
  width: 10em;
}

.partners__retailers {
  background: #e9e9e9;
}

.partners__retailers h3 {
  font-size: 2em;
  color: #1a1a1b;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .retailers__item {
    padding: 1em 1em;
    width: 10em;
  }
  .partners__retailers h3 {
    font-size: 1.5em;
  }
}

/* Clients */
.clients__headline {
  font-size: 2em;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.partners__clients {
  background: #353535;
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.partners__clients::before,
.partners__clients::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.partners__clients::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.partners__clients::before {
  left: 0;
  top: 0;
}
.partners__clients .clients {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}
.partners__clients .clients__item {
  height: 100px;
  width: 250px;
}

/* Footer */
/* Footer-Map */
.footer__map {
  background-image: url(./images/map.png);
  background-size: cover;
}

/* Footer-licence */
.footer__licence {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}
.footer__licence a {
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer__licence a:hover {
  color: #a3c460;
  transition: 0.3s;
}
